# -------------------------------------------------------------------------------------------------
# HuggingFace libraries
# -------------------------------------------------------------------------------------------------
transformers                ==4.50.0
accelerate                  >=0.31.0
datasets
peft

# -------------------------------------------------------------------------------------------------
# Other libraries
# -------------------------------------------------------------------------------------------------
pynvml
graphviz
jupyterlab
aenum
pydantic
onnx                        <1.19.0
onnxsim
onnxruntime
